$grid-space: 10px;
$grid-space-sm: 8px;
* {
	box-sizing: border-box;
}
html {
	font-size: 20px;
}
body {
	margin: 0;
	background: #000;
	font-family: Poppins, sans-serif;
	font-weight: 700;
}
.main {
	height: 100vh;
	display: grid;
	grid-gap: $grid-space;
	padding: $grid-space;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.2rem;
	cursor: pointer;
	
	background: #fff;
	background-position: top;
	background-size: cover;
	
	font-size: 2rem;
} 

// ABOUT SECTION
.about {
	width: 100%;
	height: 100vh;
	background: #fff;
	border: $grid-space solid black;

	position: absolute;
	img {
		height: 10vh;
	}
}

.hide {
	display: none;
}

@media (max-width: 800px)  {
	html {
		font-size: 15px; 
	}
	.main {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);

		grid-gap: $grid-space-sm;
		padding: $grid-space-sm;
	}

	.about {
		border: $grid-space solid black;		
	}
}